@model HomeVM
@* @{
    ViewData["Title"] = "Index";
} *@
<!-- main -->
<main>
    <!-- introBlock -->
    <section class="introBlock position-relative">
        <div class="slick-fade">
            @foreach (var slider in Model.Sliders)
            {
                <div>
                    <div class="align w-100 d-flex align-items-center bgCover" style="background-image: url(images/b-bg.jpg);">
                        <!-- holder -->
                        <div class="container position-relative holder pt-xl-10 pt-0">
                            <!-- py-12 pt-lg-30 pb-lg-25 -->
                            <div class="row">
                                <div class="col-12 col-xl-7">
                                    <div class="txtwrap pr-lg-10">
                                        <span class="title d-block text-uppercase fwEbold position-relative pl-2 mb-lg-5 mb-sm-3 mb-1">@slider.SubTitle</span>
                                        <h1 class="fwEbold position-relative pb-lg-8 pb-4 mb-xl-7 mb-lg-6">@slider.Title</h1>
                                        <p class="mb-xl-15 mb-lg-10">@slider.Description</p>
                                        <a asp-controller="Store" asp-action="Index" class="btn btnTheme btnShop fwEbold text-white md-round py-md-3 px-md-4 py-2 px-3">Shop Now <i class="fas fa-arrow-right ml-2"></i></a>
                                    </div>
                                </div>
                                <div class="imgHolder">
                                    <img src="~/@slider.ImagePath" alt="image description" class="img-fluid w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="slickNavigatorsWrap">
            <a href="~/client/assets/#" class="slick-prev"><i class="icon-leftarrow"></i></a>
            <a href="~/client/assets/#" class="slick-next"><i class="icon-rightarrow"></i></a>
        </div>
    </section>
    <!-- chooseUs-sec -->
    <section class="chooseUs-sec container pt-xl-22 pt-lg-20 pt-md-16 pt-10 pb-xl-12 pb-md-7 pb-2">
        <div class="row">
            <div class="col-12 col-lg-6 mb-lg-0 mb-4">
                <img src="~/@Model.Settings.FirstOrDefault(s=>s.Key == "Why choose us ?").ImgPath" alt="image description" class="img-fluid">
            </div>
            <div class="col-12 col-lg-6 pr-4">
                <h2 class="headingII fwEbold playfair position-relative mb-6 pb-5">@Model.Settings.FirstOrDefault(s => s.Key == "Why choose us ?").Key</h2>
                @{
                    var fullText = Model.Settings.FirstOrDefault(s => s.Key == "Why choose us ?")?.Value ?? "";
                    var previewText = fullText.Length > 200 ? fullText.Substring(0, 200) + "..." : fullText;
                    var isLong = fullText.Length > 200;
                }
                <p class="mb-xl-14 mb-lg-10">
                    <span class="text-preview">@previewText</span>
                    <span class="text-full d-none">@fullText</span>
                    @if (isLong)
                    {
                        <a href="javascript:void(0);" class="btnMore"><i>Learn More</i></a>
                    }
                </p>

                <!-- chooseList -->
                <ul class="list-unstyled chooseList">
                    @foreach (var WCUElement in Model.Settings.Where(x => x.Key.StartsWith("WCU")))
                    {
                        <li class="d-flex justify-content-start mb-xl-7 mb-lg-5 mb-3">
                            <span class="icon icon-plant"></span>
                            <div class="alignLeft d-flex justify-content-start flex-wrap">
                                <h3 class="headingIII fwEbold mb-2">@WCUElement.Title</h3>
                                <p>@WCUElement.Value</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>
    <!-- featureSec -->
    <section class="featureSec container-fluid overflow-hidden pt-xl-12 pt-lg-10 pt-md-80 pt-5 pb-xl-10 pb-lg-4 pb-md-2 px-xl-14 px-lg-7">
        <!-- mainHeader -->
        <header class="col-12 mainHeader mb-7 text-center">
            <h1 class="headingIV playfair fwEblod mb-4">@Model.Settings.FirstOrDefault(s => s.Key == "Featured Product").Key</h1>
            <span class="headerBorder d-block mb-md-5 mb-3"><img src="~/client/assets/images/hbdr.png" alt="Header Border" class="img-fluid img-bdr"></span>
            <p>@Model.Settings.FirstOrDefault(s => s.Key == "Featured Product").Value</p>
        </header>
        <div class="col-12 p-0 overflow-hidden d-flex flex-wrap">
            <!-- featureCol -->
            @foreach (var slideProduct in Model.Products.OrderByDescending(p => p.CreatedAt).Take(10))
            {
                <div>
                    <!-- featureCol -->
                    <div class="featureCol w-100 px-3 mb-sm-8 mb-6">
                        <div class="border">
                            <div class="imgHolder position-relative w-100 overflow-hidden">
                                <img src="~/@slideProduct.ImagePath" alt="image description" class="img-fluid w-100" style="height:240px; width:240px !important">
                                @if (slideProduct.DiscountedPrice is not null && slideProduct.DiscountedPrice < slideProduct.Price)
                                {
                                    <span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block p-1">Sale</span>
                                }
                                @if (slideProduct.IsInWishList && slideProduct.WishListCount >= 2)
                                {
                                    <span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block bg-red p-1">HOT</span>
                                }
                                <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                                    @if (!slideProduct.IsInWishList)
                                    {
                                        <li class="mr-2 overflow-hidden">
                                                <form asp-controller="Product" asp-action="AddToWishList" asp-route-id="@slideProduct.Id" method="post">
                                                <button type="submit" class="icon-heart d-block pt-2 px-2" style="border:none; background-color:transparent">
                                                        <i class="ri-heart-line"></i> 
                                                    </button>
                                                </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="mr-2 overflow-hidden">
                                                <form asp-controller="Product" asp-action="RemoveFromWishList" asp-route-id="@slideProduct.Id" method="post" onsubmit="return confirm('Are you sure you want to remove this product from your wishlist?');">
                                                    <button type="submit" class="icon-heart d-block text-danger pt-2 px-2" style="border:none; background-color:transparent">
                                                        <i class="ri-heart-fill"></i> 
                                                    </button>
                                                </form>
                                        </li>
                                    }

                                    <li class="mr-2 overflow-hidden"><a asp-controller="Product" asp-action="Detail" asp-route-id="@slideProduct.Id" class="icon-eye d-block"></a></li>
                                    <li class="overflow-hidden">
                                    <form asp-controller="Product" asp-action="AddToCart" asp-route-id="@slideProduct.Id" method="post">
                                        <button type="submit" class="icon-cart d-block pt-2 px-2" style="border:none; background-color:transparent">
                                            <i class="ri-shopping-cart-fill"></i>
                                        </button>
                                    </form>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center py-5 px-2">
                                <span style="width:220px;" class="title d-block mb-2"><a href="~/client/assets/shop-detail.html">@slideProduct.Name</a></span>
                                @if (slideProduct.DiscountedPrice is not null & slideProduct.DiscountedPrice < slideProduct.Price)
                                {
                                    <span class="price d-block fwEbold"><del>@slideProduct.Price $</del>@slideProduct.DiscountedPrice $</span>
                                }
                                else
                                {
                                    <span class="price d-block fwEbold">@slideProduct.Price $</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <!-- categorySecBlock -->
    <div class="categorySecBlock overflow-hidden pt-xl-9 pb-xl-6 px-xl-17 px-0 pt-lg-10 pb-lg-4 pt-md-8 pb-md-2 pt-5">
        <!-- masonryHolder -->
        <div class="masonryHolder">
            @foreach (var category in Model.Categories.OrderBy(x => x.CreatedAt).Take(5))
            {
                <div class="grid-item mb-6 px-3">
                    <div class="itemCol">
                        <div class="position-relative">
                            <img src="@category.ImgPath" alt="@category.Name" class="img-fluid w-100" />
                            <div class="hoverTextBlock position-absolute">
                                <h2 class="headingIV playfair fwEbold mb-3">
                                    <a href="javascript:void(0);">@category.Name</a>
                                </h2>
                                <span class="txt d-block">( @category.Products.Count item )</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- contactListBlock -->
    <div class="contactListBlock container overflow-hidden pt-xl-8 pt-lg-10 pt-md-8 pt-4 pb-xl-12 pb-lg-10 pb-md-4 pb-1">
        <div class="row">
            @foreach (var contactListElement in Model.Settings.Where(x => x.Key.StartsWith("contactListColumn")))
            {
                <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <!-- contactListColumn -->
                    <div class="contactListColumn border overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
                        @if (@contactListElement.Title == "Free shipping order")
                        {
                            <span class="icon icon-van"></span>
                        }
                        else if (@contactListElement.Title == "Special gift card")
                        {
                            <span class="icon icon-gift"></span>
                        }
                        else if (@contactListElement.Title == "Return & exchange")
                        {
                            <span class="icon icon-recycle"></span>
                        }
                        else if (@contactListElement.Title == "Support 24 / 7 ")
                        {
                            <span class="icon icon-call"></span>
                        }
                        <div class="alignLeft pl-2">
                            <strong class="headingV fwEbold d-block mb-1">@contactListElement.Title</strong>
                            <p class="m-0">@contactListElement.Value</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- dealSecHolder -->
    <section class="dealSecHolder container-fluid overflow-hidden py-xl-12 py-lg-10 py-md-8 py-5">
        <!-- mainHeader -->
        <header class="col-12 mainHeader mb-7 text-center">
            <h1 class="headingIV playfair fwEblod mb-5">
                @Model.Settings.FirstOrDefault(s => s.Key == "Daily Deal")?.Key
            </h1>
            <span class="headerBorder d-block mb-md-5 mb-3">
                <img src="~/client/assets/images/hbdr.png" alt="Header Border" class="img-fluid img-bdr">
            </span>
            <p class="mb-6">
                @Model.Settings.FirstOrDefault(s => s.Key == "Daily Deal")?.Value
            </p>

            <!-- Countdown Timer -->
            <div id="defaultCountdown" class="comming-timer d-flex justify-content-center gap-3 text-success fs-3 fw-bold">
                <div>
                    <span id="days">0</span><br><span class="text-dark fs-6">Days</span>
                </div>
                <div>:</div>
                <div>
                    <span id="hours">0</span><br><span class="text-dark fs-6">Hours</span>
                </div>
                <div>:</div>
                <div>
                    <span id="minutes">0</span><br><span class="text-dark fs-6">Minutes</span>
                </div>
                <div>:</div>
                <div>
                    <span id="seconds">0</span><br><span class="text-dark fs-6">Seconds</span>
                </div>
            </div>
        </header>
    </section>


    <!-- dealSlider -->
    <div class="dealSlider w-100 px-lg-10 px-md-5">
        @foreach (var slideProduct in Model.Products.OrderByDescending(p => p.CreatedAt).Take(10))
        {
            <div>
                <!-- featureCol -->
                <div class="featureCol w-100 px-3 mb-sm-8 mb-6">
                    <div class="border">
                        <div class="imgHolder position-relative w-100 overflow-hidden">
                            <img src="~/@slideProduct.ImagePath" alt="image description" class="img-fluid w-100" style="height:240px">
                            @if (slideProduct.DiscountedPrice is not null && slideProduct.DiscountedPrice < slideProduct.Price)
                            {
                                <span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block p-1">Sale</span>
                            }
                            @if (slideProduct.IsInWishList && slideProduct.WishListCount >= 2)
                            {
                                <span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block bg-red p-1">HOT</span>
                            }
                            <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                                @if (!slideProduct.IsInWishList)
                                {
                                    <li class="mr-2 overflow-hidden">
                                        <a asp-controller="Product" asp-action="AddToWishList" asp-route-id="@slideProduct.Id" class="icon-heart d-block"></a>
                                    </li>
                                }
                                else
                                {
                                    <li class="mr-2 overflow-hidden">
                                        <a asp-controller="Product" asp-action="RemoveFromWishList" asp-route-id="@slideProduct.Id" class="icon-heart d-block text-danger"></a>
                                    </li>
                                }

                                <li class="mr-2 overflow-hidden"><a asp-controller="Product" asp-action="Detail" asp-route-id="@slideProduct.Id" class="icon-eye d-block"></a></li>
                                <li class="overflow-hidden">
                                    <form asp-controller="Product" asp-action="AddToCart" asp-route-id="@slideProduct.Id" method="post">
                                        <button type="submit" class="icon-cart d-block pt-2 px-2" style="border:none; background-color:transparent">
                                            <i class="ri-shopping-cart-fill"></i>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="text-center py-5 px-2">
                            <span class="title d-block mb-2"><a href="~/client/assets/shop-detail.html">@slideProduct.Name</a></span>
                            @if (slideProduct.DiscountedPrice is not null & slideProduct.DiscountedPrice < slideProduct.Price)
                            {
                                <span class="price d-block fwEbold"><del>@slideProduct.Price $</del>@slideProduct.DiscountedPrice $</span>
                            }
                            else
                            {
                                <span class="price d-block fwEbold">@slideProduct.Price $</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container-fluid px-xl-20 px-lg-14 mt-5">
        <!-- subscribeSecBlock -->
        <section class="subscribeSecBlock bgCover col-12 pt-xl-24 pb-xl-12 pt-lg-20 pt-md-16 pt-10 pb-md-8 pb-5" style="background-color:#f5f5f5">
            <header class="col-12 mainHeader mb-sm-9 mb-6 text-center">
                <h1 class="headingIV playfair fwEblod mb-4">Subscribe Our Newsletter</h1>
                <span class="headerBorder d-block mb-md-5 mb-3"><img src="~/client/assets/images/hbdr.png" alt="Header Border" class="img-fluid img-bdr"></span>
                <p class="mb-sm-6 mb-3">Enter Your email address to join our mailing list and keep yourself update</p>
            </header>
            <form class="emailForm1 mx-auto overflow-hidden d-flex flex-wrap">
                <input type="email" class="form-control px-4 border-0" placeholder="Enter your mail...">
                <button type="submit" class="btn btnTheme btnShop fwEbold text-white py-3 px-4">Shop Now <i class="fas fa-arrow-right ml-2"></i></button>
            </form>
        </section>
    </div>
    <!-- footerHolder -->
    <aside class="footerHolder container-fluid overflow-hidden px-xl-20 px-lg-14 pt-xl-12 pb-xl-8 pt-lg-12 pt-md-8 pt-10 pb-lg-8">
        <div class="d-flex flex-wrap flex-lg-nowrap">
            <div class="coll-1 pr-3 mb-sm-4 mb-3 mb-lg-0">
                <h3 class="headingVI fwEbold text-uppercase mb-7">Contact Us</h3>
                <ul class="list-unstyled footerContactList mb-3">
                    <li class="mb-3 d-flex flex-nowrap"><span class="icon icon-place mr-3"></span> <address class="fwEbold m-0">Address: London Oxford Street, 012 United Kingdom.</address></li>
                    <li class="mb-3 d-flex flex-nowrap"><span class="icon icon-phone mr-3"></span> <span class="leftAlign">Phone : <a href="~/client/assets/javascript:void(0);">(+032) 3456 7890</a></span></li>
                    <li class="email d-flex flex-nowrap"><span class="icon icon-email mr-2"></span> <span class="leftAlign">Email:  <a href="~/client/assets/javascript:void(0);">Botanicalstore@gmail.com</a></span></li>
                </ul>
                <ul class="list-unstyled followSocailNetwork d-flex flex-nowrap">
                    <li class="fwEbold mr-xl-11 mr-sm-6 mr-4">Follow  us:</li>
                    <li class="mr-xl-6 mr-sm-4 mr-2"><a href="~/client/assets/javascript:void(0);" class="fab fa-facebook-f"></a></li>
                    <li class="mr-xl-6 mr-sm-4 mr-2"><a href="~/client/assets/javascript:void(0);" class="fab fa-twitter"></a></li>
                    <li class="mr-xl-6 mr-sm-4 mr-2"><a href="~/client/assets/javascript:void(0);" class="fab fa-pinterest"></a></li>
                    <li class="mr-2"><a href="~/client/assets/javascript:void(0);" class="fab fa-google-plus-g"></a></li>
                </ul>
            </div>
            <div class="coll-2 mb-sm-4 mb-3 mb-lg-0">
                <h3 class="headingVI fwEbold text-uppercase mb-6">Information</h3>
                <ul class="list-unstyled footerNavList">
                    <li class="mb-1"><a href="~/client/assets/javascript:void(0);">New Products</a></li>
                    <li class="mb-2"><a href="~/client/assets/javascript:void(0);">Top Sellers</a></li>
                    <li class="mb-2"><a href="~/client/assets/javascript:void(0);">Our Blog</a></li>
                    <li class="mb-2"><a href="~/client/assets/javascript:void(0);">About Our Shop</a></li>
                    <li><a href="~/client/assets/javascript:void(0);">Privacy policy</a></li>
                </ul>
            </div>
            <div class="coll-3 mb-sm-4 mb-3 mb-lg-0">
                <h3 class="headingVI fwEbold text-uppercase mb-6">My Account</h3>
                <ul class="list-unstyled footerNavList">
                    <li class="mb-1"><a href="~/client/assets/javascript:void(0);">My account</a></li>
                    <li class="mb-2"><a href="~/client/assets/javascript:void(0);">Discount</a></li>
                    <li class="mb-2"><a href="~/client/assets/javascript:void(0);">Orders history</a></li>
                    <li><a href="~/client/assets/javascript:void(0);">Personal information</a></li>
                </ul>
            </div>
            <div class="coll-4 mb-sm-4 mb-3 mb-lg-0">
                <h3 class="headingVI fwEbold text-uppercase mb-7 pl-xl-14 pl-lg-10">Popular Tag</h3>
                <ul class="list-unstyled tagNavList d-flex flex-wrap justify-content-lg-end mb-0">
                    <li class="text-center mb-2 mr-2"><a href="~/client/assets/javascript:void(0);" class="md-round d-block py-2 px-2">Trend</a></li>
                    <li class="text-center mb-2"><a href="~/client/assets/javascript:void(0);" class="md-round d-block py-2 px-2">Decor</a></li>
                    <li class="text-center mb-2 mr-2"><a href="~/client/assets/javascript:void(0);" class="md-round d-block py-2 px-2">Plant</a></li>
                    <li class="text-center mb-2"><a href="~/client/assets/javascript:void(0);" class="md-round d-block py-2 px-2">Table tree</a></li>
                    <li class="text-center mb-2 mr-2"><a href="~/client/assets/javascript:void(0);" class="md-round d-block py-2 px-2">Bedroom tree</a></li>
                    <li class="text-center mb-2"><a href="~/client/assets/javascript:void(0);" class="md-round d-block py-2 px-2">Living room</a></li>
                </ul>
            </div>
        </div>
    </aside>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const btn = document.querySelector(".btnMore");
        const preview = document.querySelector(".text-preview");
        const full = document.querySelector(".text-full");

        if (btn) {
            btn.addEventListener("click", function () {
                const isExpanded = full.classList.contains("d-none");

                if (isExpanded) {
                    preview.classList.add("d-none");
                    full.classList.remove("d-none");
                    btn.innerHTML = "<i>Show Less</i>";
                } else {
                    full.classList.add("d-none");
                    preview.classList.remove("d-none");
                    btn.innerHTML = "<i>Learn More</i>";
                }
            });
        }
    });

     document.addEventListener("DOMContentLoaded", function () {
            const gridItems = document.querySelectorAll('.masonryHolder .grid-item');
            if (gridItems.length >= 4) {
                gridItems[2].classList.add('grid-item2'); // 3rd item (index 2)
                gridItems[3].classList.add('grid-item2'); // 4th item (index 3)
            }
        });
</script>
