@using Business.DTOs.Slider
@model List<GetSliderDTO>


<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header">Slider Table</h5>
    <a asp-controller="Slider" asp-action="AddSlider" class="btn btn-primary mb-3" style="width:200px;margin-left:80%">Add New Slider</a>

    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    @* <th>Language</th> *@
                    <th>Sliders</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var Slider in Model)
                {
                    if (Slider.IsDeleted)
                    {
                        <tr class="SliderRow" style="background:plum; color:#fff;">
                            <td style="display: flex; gap: 5px; align-items: center;">
                                <div class="imgAsAnIconContent">
                                    <img class="imgAsAnIcon"
                                         src="@(string.IsNullOrEmpty(Slider.ImagePath) ? Url.Content("~/client/assets/images/noImg.jpg") : Url.Content("~/" + Slider.ImagePath))" />
                                </div>
                                <span>@Slider.Title</span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
                                    <div class="dropdown-menu">
                                        <form asp-controller="Slider" asp-action="RestoreSlider" asp-route-id="@Slider.Id" method="post" onsubmit="return confirm('Are you sure you want to restore this Slider?');">
                                            <button type="submit" class="dropdown-item"><i class="ri-pencil-line me-2"></i>Restore</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="SliderRow">
                            <td style="display: flex; gap: 5px; align-items: center;">
                                <div class="imgAsAnIconContent">
                                    <img class="imgAsAnIcon"
                                         src="@(string.IsNullOrEmpty(Slider.ImagePath) ? Url.Content("~/client/assets/images/noImg.jpg") : Url.Content("~/" + Slider.ImagePath))" />
                                </div>
                                <span>@Slider.Title</span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
                                    <div class="dropdown-menu">
                                        <a asp-controller="Slider" asp-action="EditSlider" asp-route-id="@Slider.Id" class="dropdown-item">
                                            <i class="ri-pencil-line me-2"></i>Edit
                                        </a>

                                        <form asp-controller="Slider" asp-action="DeleteSlider" asp-route-id="@Slider.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this Slider?');">
                                            <button type="submit" class="dropdown-item"><i class="ri-delete-bin-6-line me-2"></i> Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
