@using Botanical.ViewModels.StoreViewModels
@model StoreVM
<!-- introBannerHolder -->
<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url(http://placehold.it/1920x300);">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
                <h1 class="headingIV fwEbold playfair mb-4">Shop</h1>
                <ul class="list-unstyled breadCrumbs d-flex justify-content-center">
                    <li class="mr-2"><a href="home.html">Home</a></li>
                    <li class="mr-2">/</li>
                    <li class="active">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- twoColumns -->
<div class="twoColumns container pb-lg-20 pb-md-4 pt-10 pb-4">
    <div class="row">
        <div class="col-12 col-lg-9 order-lg-3">
            <!-- content -->
            <article id="content">
                <!-- show-head -->
                <header class="show-head d-flex flex-wrap justify-content-between mb-7">
                    <!-- sortGroup -->
                    <form method="get" asp-action="Shop" class="mb-4">
                        @if (!string.IsNullOrEmpty(ViewBag.CurrentCategory as string))
                        {
                            <input type="hidden" name="category" value="@ViewBag.CurrentCategory" />
                        }

                        <select id="sortSelect" name="sort" class="form-select w-auto d-inline" onchange="this.form.submit()">
                            <option value="" disabled selected>Sort by</option>
                            <option value="price_asc" selected="@(ViewBag.CurrentSort == "price_asc")">Price: Low to High</option>
                            <option value="price_desc" selected="@(ViewBag.CurrentSort == "price_desc")">Price: High to Low</option>
                            <option value="top_rated" selected="@(ViewBag.CurrentSort == "top_rated")">Top Rated Products</option>
                            <option value="new_arr" selected="@(ViewBag.CurrentSort == "new_arr")">New Arrivals</option>
                        </select>
                    </form>


                </header>
                <div class="row" id="productGridContainer">
                    @await Html.PartialAsync("_ProductGridPartial", Model.Products)
                </div>

                <!-- Pagination -->
                <div>
                    <ul class="list-unstyled pagination d-flex justify-content-center align-items-end">
                        @if (Model.CurrentPage > 1)
                        {
                            <li>
                                <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="@(i == Model.CurrentPage ? "active" : "")">
                                <a asp-action="Index" asp-route-page="@i">@i</a>
                            </li>
                        }

                        @if (Model.CurrentPage < Model.TotalPages)
                        {
                            <li>
                                <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-lg-3 order-lg-1">
            <!-- sidebar -->
            <aside id="sidebar">
                <!-- widget -->
                <section class="widget overflow-hidden mb-9">
                    <h3 class="headingVII fwEbold text-uppercase mb-5">PRODUCT CATEGORIES</h3>
                    <ul class="list-unstyled categoryList mb-0">
                        <li class="mb-4 overflow-hidden">
                            <a asp-action="Shop">
                                All Categories<span class="num border float-right">@Model.AllProductsCount</span>
                            </a>
                        </li>
                        @foreach (var category in Model.Categories)
                        {
                            var count = category.Products?.Count() ?? 0;
                            if (count != 0)
                            {
                                <li class="mb-4 overflow-hidden">
                                    <a asp-action="Shop"
                                       asp-route-category="@category.Name"
                                       asp-route-sort="@ViewBag.CurrentSort">
                                        @category.Name <span class="num border float-right">@count</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </section>
                <!-- widget -->
                <section class="widget mb-9">
                    <h3 class="headingVII fwEbold text-uppercase mb-6">Filter by price</h3>
                    <form asp-controller="Store" asp-action="Shop" method="get" id="filterForm" class="filter-ranger-form">
                        <div id="slider-range"></div>
                        <input type="hidden" id="amount1" name="minPrice" />
                        <input type="hidden" id="amount2" name="maxPrice" />
                        <input type="hidden" name="sort" value="@ViewBag.CurrentSort" />
                        <input type="hidden" name="category" value="@ViewBag.CurrentCategory" />
                        <input type="hidden" name="tag" value="@ViewBag.CurrentTag" />
                        <div class="get-results-wrap d-flex align-items-center justify-content-between">
                            <button type="submit" class="btn btnTheme btn-shop fwEbold md-round px-3 pt-1 pb-2 text-uppercase">Filter</button>
                            <p id="amount" class="mb-0"></p>
                        </div>
                    </form>
                </section>



                <!-- widget -->
                <section class="widget mb-9">
                    <h3 class="headingVII fwEbold text-uppercase mb-6">top rate</h3>
                    <ul class="list-unstyled recentListHolder mb-0 overflow-hidden">
                        @foreach (var ratedProduct in Model.Products.Where(p=>p.IsInWishList).Take(5))
                        {
                            <li class="mb-6 d-flex flex-nowrap">
                                <div class="alignleft">
                                    <a asp-controller="product" asp-action="detail" asp-route-id="@ratedProduct.Id"><img src="~/@ratedProduct.ImagePath" alt="image description" class="img-fluid"></a>
                                </div>
                                <div class="description-wrap pl-1">
                                    <h4 class="headingVII mb-1"><a asp-controller="product" asp-action="detail" asp-route-id="@ratedProduct.Id">@ratedProduct.Name</a></h4>
                                    <strong class="price fwEbold d-block">
                                        @((ratedProduct.DiscountedPrice != null && ratedProduct.DiscountedPrice < ratedProduct.Price)
                                            ? $"{ratedProduct.DiscountedPrice}$"
                                            : $"{ratedProduct.Price}$")
                                    </strong>
                                </div>
                            </li>
                        }
                    </ul>
                </section>
                <!-- widget -->
                <section class="widget mb-9">
                    <h3 class="headingVII fwEbold text-uppercase mb-5">product tags</h3>
                    <ul class="list-unstyled tagNavList d-flex flex-wrap mb-0">

                        @foreach (var tag in Model.Tags.Take(8))
                        {
                            <li class="mb-4 text-center overflow-hidden">
                                    <a asp-action="Shop"
                                       asp-route-tag="@tag.Name"
                                       asp-route-sort="@ViewBag.CurrentTag"
                                   class="md-round d-block">
                                        @tag.Name 
                                    </a>
                                </li>
                        }


                  @*       @foreach (var tag in Model.Tags.Take(8))
                        {
                            <li class="text-center"><a href="javascript:void(0);" class="md-round d-block">@tag.Name</a></li>

                        } *@
                    </ul>
                </section>
            </aside>
        </div>
    </div>
</div>
<!-- footerHolder -->
<aside class="footerHolder overflow-hidden bg-lightGray pt-xl-23 pb-xl-8 pt-lg-10 pb-lg-8 pt-md-12 pb-md-8 pt-10">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-lg-0 mb-4">
                <h3 class="headingVI fwEbold text-uppercase mb-7">Contact Us</h3>
                <ul class="list-unstyled footerContactList mb-3">
                    <li class="mb-3 d-flex flex-nowrap pr-xl-20 pr-0"><span class="icon icon-place mr-3"></span> <address class="fwEbold m-0">Address: London Oxford Street, 012 United Kingdom.</address></li>
                    <li class="mb-3 d-flex flex-nowrap"><span class="icon icon-phone mr-3"></span> <span class="leftAlign">Phone : <a href="javascript:void(0);">(+032) 3456 7890</a></span></li>
                    <li class="email d-flex flex-nowrap"><span class="icon icon-email mr-2"></span> <span class="leftAlign">Email:  <a href="javascript:void(0);">Botanicalstore@gmail.com</a></span></li>
                </ul>
                <ul class="list-unstyled followSocailNetwork d-flex flex-nowrap">
                    <li class="fwEbold mr-xl-11 mr-md-8 mr-3">Follow  us:</li>
                    <li class="mr-xl-6 mr-md-5 mr-2"><a href="javascript:void(0);" class="fab fa-facebook-f"></a></li>
                    <li class="mr-xl-6 mr-md-5 mr-2"><a href="javascript:void(0);" class="fab fa-twitter"></a></li>
                    <li class="mr-xl-6 mr-md-5 mr-2"><a href="javascript:void(0);" class="fab fa-pinterest"></a></li>
                    <li class="mr-2"><a href="javascript:void(0);" class="fab fa-google-plus-g"></a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 pl-xl-14 mb-lg-0 mb-4">
                <h3 class="headingVI fwEbold text-uppercase mb-6">Information</h3>
                <ul class="list-unstyled footerNavList">
                    <li class="mb-1"><a href="javascript:void(0);">New Products</a></li>
                    <li class="mb-2"><a href="javascript:void(0);">Top Sellers</a></li>
                    <li class="mb-2"><a href="javascript:void(0);">Our Blog</a></li>
                    <li class="mb-2"><a href="javascript:void(0);">About Our Shop</a></li>
                    <li><a href="javascript:void(0);">Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 pl-xl-12 mb-lg-0 mb-4">
                <h3 class="headingVI fwEbold text-uppercase mb-7">My Account</h3>
                <ul class="list-unstyled footerNavList">
                    <li class="mb-1"><a href="javascript:void(0);">My account</a></li>
                    <li class="mb-2"><a href="javascript:void(0);">Discount</a></li>
                    <li class="mb-2"><a href="javascript:void(0);">Orders history</a></li>
                    <li><a href="javascript:void(0);">Personal information</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-2 pl-xl-18 mb-lg-0 mb-4">
                <h3 class="headingVI fwEbold text-uppercase mb-5">PRODUCTS</h3>
                <ul class="list-unstyled footerNavList">
                    <li class="mb-2"><a href="javascript:void(0);">Delivery</a></li>
                    <li class="mb-2"><a href="javascript:void(0);">Legal notice</a></li>
                    <li class="mb-2"><a href="javascript:void(0);">Prices drop</a></li>
                    <li class="mb-2"><a href="javascript:void(0);">New products</a></li>
                    <li><a href="javascript:void(0);">Best sales</a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>
